.default {
  background: white;
}

.wrong {
  background: #fc664e;
  border: 1px solid #707070;
}

.correct {
  background: #90f89e;
  border: 1px solid #707070;
}

.rating-box {
  bottom: 75px;
  right: 25px;
  min-width: 55px;
}
